build --action_env=CC=clang
build --action_env=CXX=clang++

build --enable_platform_specific_config

build:linux --cxxopt=-std=c++17
# See https://bytecodealliance.github.io/wasmtime/c-api/
build:linux --linkopt=-lm
build:linux --linkopt=-lpthread
build:linux --linkopt=-ldl

build:macos --cxxopt=-std=c++17

# TODO(mathetake): Windows build is not verified yet.
# build:windows --cxxopt="/std:c++17"
# See https://bytecodealliance.github.io/wasmtime/c-api/
# build:windows --linkopt="ws2_32.lib advapi32.lib userenv.lib ntdll.lib shell32.lib ole32.lib"
