# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: C++

on:

  pull_request:
    branches:
    - master
    - 'envoy-release/**'
    - 'istio-release/**'

  push:
    branches:
    - master
    - 'envoy-release/**'
    - 'istio-release/**'

jobs:

  format:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.16'

    - name: Format (clang-format)
      run: |
        sudo apt-get install clang-format-9
        find . -name "*.h" -o -name "*.cc" -o -name "*.proto" | grep -v ".pb." | xargs -n1 clang-format-9 -i
        git diff --exit-code

    - name: Format (buildifier)
      run: |
        go install github.com/bazelbuild/buildtools/buildifier@latest
        export PATH=$PATH:$(go env GOPATH)/bin
        find . -name "BUILD" | xargs -n1 buildifier -mode=check

    - name: Format (addlicense)
      run: |
        go install github.com/google/addlicense@latest
        export PATH=$PATH:$(go env GOPATH)/bin
        addlicense -check .

  build:
    name: ${{ matrix.action }} with ${{ matrix.name }}

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
        - name: 'Wasmtime on Windows/x86_64'
          runtime: 'wasmtime'
          repo: 'com_github_bytecodealliance_wasmtime'
          os: windows-2019
          arch: x86_64
          action: test

    steps:
    - uses: actions/checkout@v2

    - name: Activate Docker/QEMU
      if: startsWith(matrix.run_under, 'docker')
      run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

    - name: Bazel build/test
      run: >
        ${{ matrix.run_under }}
        bazel ${{ matrix.action }}
        --subcommands
        --verbose_failures
        --test_output=errors
        --define runtime=${{ matrix.runtime }}
        ${{ matrix.flags }}
        //test/...

    - name: Bazel build/test (signed Wasm module)
      run: >
        ${{ matrix.run_under }}
        bazel ${{ matrix.action }}
        --subcommands
        --verbose_failures
        --test_output=errors
        --define runtime=${{ matrix.runtime }}
        ${{ matrix.flags }}
        --per_file_copt=src/signature_util.cc,test/signature_util_test.cc@-DPROXY_WASM_VERIFY_WITH_ED25519_PUBKEY=\"$(xxd -p -c 256 test/test_data/signature_key1.pub | cut -b9-)\"
        //test:signature_util_test

    - name: Cleanup Bazel cache
      if: ${{ matrix.runtime != 'wasmtime' || startsWith(matrix.run_under, 'docker') }}
      run: |
        export OUTPUT=$(bazel info output_base)
        # BoringSSL's test data (90 MiB).
        rm -rf ${OUTPUT}/external/boringssl/crypto_test_data.cc
        rm -rf ${OUTPUT}/external/boringssl/src/crypto/*/test/
        rm -rf ${OUTPUT}/external/boringssl/src/third_party/wycheproof_testvectors/
        # LLVM's tests (500 MiB).
        rm -rf ${OUTPUT}/external/llvm*/test/
        # V8's tests (100 MiB).
        if [ -d "${OUTPUT}/external/v8/test/torque" ]; then
          mv ${OUTPUT}/external/v8/test/torque ${OUTPUT}/external/v8/test_torque
          rm -rf ${OUTPUT}/external/v8/test/*
          mv ${OUTPUT}/external/v8/test_torque ${OUTPUT}/external/v8/test/torque
        fi
        # Unnecessary CMake tools (65 MiB).
        rm -rf ${OUTPUT}/external/cmake-*/bin/{ccmake,cmake-gui,cpack,ctest}
        # Distfiles for Rust toolchains (350 MiB).
        rm -rf ${OUTPUT}/external/rust_*/*.tar.gz
        # Bazel's repository cache (650-800 MiB) and install base (155 MiB).
        rm -rf $(bazel info repository_cache)
        rm -rf $(bazel info install_base)
