# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Publish Build Tools Docker Image

on:
  workflow_dispatch:
    inputs:
      ubuntu_version:
        description: 'Ubuntu version for base image'
        required: true
      bazel_version:
        description: 'Bazel version to build'
        required: true
      platforms:
        description: 'Target platforms (comma-separated)'
        required: false
        default: 'linux/s390x'
      draft:
        description: 'Draft mode (true: build only, false: build and push)'
        type: boolean
        required: false
        default: true

jobs:
  publish:
    runs-on: ubuntu-24.04-16core
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Generate tag
      id: tag
      run: |
        TAG="ubuntu-${{ github.event.inputs.ubuntu_version }}-bazel-${{ github.event.inputs.bazel_version }}"
        echo "tag=$TAG" >> $GITHUB_OUTPUT

    - name: Login to GitHub Container Registry
      if: ${{ !github.event.inputs.draft }}
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Build and Push Docker Image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        file: bazel/external/Dockerfile.bazel
        platforms: ${{ github.event.inputs.platforms }}
        tags: ghcr.io/proxy-wasm/build-tools:${{ steps.tag.outputs.tag }}
        build-args: |
          UBUNTU_VERSION=${{ github.event.inputs.ubuntu_version }}
          BAZEL_VERSION=${{ github.event.inputs.bazel_version }}
        push: ${{ !github.event.inputs.draft }}
        load: ${{ github.event.inputs.draft }}
        cache-from: type=gha,scope=build-tools-${{ steps.tag.outputs.tag }}
        cache-to: type=gha,mode=max,scope=build-tools-${{ steps.tag.outputs.tag }}
